<!DOCTYPE html>
<html>
    <head>
        <title>Erin's Favorite TV Shows</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>

        {{{ body }}}
    <footer>
      Made with love at GA.
    </footer>
    </body>
</html>
