body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.pokedex-title {
  width: 175px;
  height: 75px;
}

.pokemon-in-list {
  margin: 20px;
  display: inline-block;
  border: 5px solid purple;
  width: 200px;
  padding: 3px;
  text-align: center;
  background: white;
}

img {
  height: 150px;
  width: 150px;
  margin-top: 5px;
}

a:visited {
  color: gray;
}

.poke-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

/* pokemon details page */

.pokemon-card {
  border: 2px solid yellow;
  margin: 30px
}

.pokemon-name {
  color: gray;
}

.back-to-list {
  display: block;
}

.button-section {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.edit-button {
  margin-left: 10px;
}

.pokemon-stats {
  text-transform: uppercase;
}
