body {
  font-family: Arial;
  text-transform: capitalize;
}

button {
  background: turquoise;
  cursor: pointer;
}

input {
  margin: 3px;
}

.delete-button {
  background: red;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: left;
  clear: right;
}

.edit-button {
  background: yellow;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.urgency {
  display: block;
  margin-bottom: 10px;
}
