<form action="/recipes" method="POST">
  <div>
    <label for="title">Recipe Name:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="veggie">Vegetarian?</label>
    <span>yes</span><input type="radio" name="veggie" value="true" checked>
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" name="imageUrl">
  </div>
  <div>
    <input type="submit" value="Add Recipe">
  </div>
</form>
