<h1> Pokemon </h1>
<h2>There are {{pokemon.length}} Pokemon</h2>
<ol>
{{#each pokemon}}
  <li>
    <a href="/pokemon/index/{{@index}}">{{name}}
    <img src={{img}}></a>
  </li>
{{/each}}
</ol>

<a href="/pokemon/new">Add New Pokemon</a>


