<h1> Pokédex </h1>
<h2 class="number-of-pokemon">You have {{pokemon.length}} Pokémon</h2>
<a href="/pokemon/new"><button class="add-new-pokemon-btn btn btn-primary">Add New Pokémon</button></a>
<ol>
{{#each pokemon}}
  <li class="pokemon-in-list">
    <a class="poke-name" href="/pokemon/index/{{@index}}">{{name}}<br><br>
    <img src={{img}}></a>
  </li>
{{/each}}
</ol>



