<h1>Edit a To-Don't</h1>

<form action="/todonts/{{id}}?_method=PUT" method="POST">
  Description: <input type="text" name='description' value='{{todont.description}}'><br>
  Urgent: <input type="text" name='urgent' value='{{todont.urgent}}'><br>
  <input type="submit" value="Submit">
</form>
