<form action="/users/{{id}}/lists" method="POST">
  <div>
    <label for="name">name</label>
    <input type="text" name="description">
  </div>

  <div>
    <input type="submit" value="Add New">
  </div>
</form>

